body {
    background-color: white;
    color: #202020;
    font-family: Segoe UI, sans-serif;
  }
  
  
  #sidebarCollapse {
    -webkit-box-shadow: 0 10px 15px -6px gray;
    -moz-box-shadow: 0 10px 15px -6px gray;
    box-shadow: 0 10px 15px -6px gray;
    margin-top: 1px;
    margin-bottom: 10px;
    float: left;
    padding-left: 10px;
    padding-top: 8px;
    color: white;
    background-color: #324370;
    position: fixed;
  }
  
  
  #sidebarCollapse:hover {
    box-shadow: none;
    margin-top: 6px;
    transform: scale(0.9);
  }
  
  
  .nav {
    height: 50px;
    padding-top: 6px;
    margin-bottom: 7px;
    margin-right: 10px;
    background-color: rgba(211, 211, 211, 0.2)
  }
  
  
  .nav-link {
    margin: 0;
    padding: 5px;
    opacity: 0.7;
  }
  
  
  .nav-link i {
    color: black;
    border-left: 1px solid black;
    padding-left: 9px;
    text-shadow: 2px 1px 2px gray;
  }
  
  
  .wrapper {
    display: flex;
    width: 100%;
  }
  
  
  #sidebar.active {
    margin-left: -250px;
  }
  
  
  a,
  a:hover,
  a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
  }
  
  
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 220px;
    height: 100vh;
    background: #324370;
    color: #fff;
    transition: all 0.3s;
  }
  
  
  #sidebar .sidebar-header {
    padding: 10px;
    margin-bottom: 20px;
    background: #324370;
    border: 1px solid black;
    box-shadow: 2px 3px 8px -3px black;
  }
  
  
  #sidebar ul.components {
    padding: 20px 0;
  }
  
  
  #sidebar ul p {
    color: #fff;
    padding: 10px;
  }
  
  
  #sidebar ul li a {
    margin-top: 3px;
    padding: 10px;
    font-size: 1.1em;
    display: block;
  }
  
  
  /* #sidebar ul li a:hover {
    color: #000099;
    background: #fff;
  } */
  
  
  
  #sidebar ul li a:hover {
    color: white;
    background-image: linear-gradient(to bottom left, #FF006F, #FFCC00 );
  }
  
  
  #sidebar ul li.active {
    color: white;
    background-image: linear-gradient(to bottom left, #FF006F, #FFCC00 );
  }
  
  
  
  .addMargin {
    transition: 0.3s;
    margin-left: 226px;
  }
  
  .card-action {
    
    float: right;
    margin-top: -129px;
    margin-right: 20px;
    z-index: 2;
     color: #E26D5C;
    background: #fff;
    border-radius: 50%;
    padding: 20px 21px;
    font-size: 15px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 2px 0 rgba(0, 0, 0, 0.19);
  } 
  
   .card-action:hover {
    color: #fff;
    background: #E26D5C;
    animation: pulse 1.5s infinite;
  }
  
  
  .heading {
    height: 200px;
    margin: 0;
  }
  
  
  .card {
    padding: 0;
    margin: 45px 15px;
    
  }
  
  .card:hover{
    transform: scale(1.05);
  }
  #blank1 {
  
    height: 380px;
    width: 300px;
    margin: 15px;
  }
  
  
  .parah {
    font-size: calc(18px + (24 - 18) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 20px;
  }
  
  
  #access {
    padding: 1px 10px;
  }
  
  
  #goals {
    height: 180px;
  }
  
  #card {
    height: 220px;
    padding: 10px;
  }
  
  
  #align {
    margin-left: auto;
  }
  
  
  #align b {
    font-size: 18px;
  }
  
  
  .blank2 {
    height: 230px;
    margin: 10px;
  }
  
  
  .shadow {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .inputs{
    text-align: right;
    margin-right: 3rem;
  }
  
  
  
  
  .inputs{
    text-align: right;
    margin-right: 3rem;
  }
  .form-control:focus {
    box-shadow: none;
  }
  
  .form-control-underlined {
    border-width: 0;
    border-bottom-width: 1px;
    border-radius: 0;
    padding-left: 0;
  }
  
  .search{
    width: 20%;
    margin-left: auto;
    margin-right: 4vw;
  }
  
  
  @-webkit-keyframes pulse {
    0% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
  
    70% {
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
    }
  
    100% {
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
  } 
  
  .card-title{
    font-size: calc(18px + (23 - 18) * ((100vw - 300px) / (1600 - 300)));
  }
  
  .type{
    text-align: center;
    font-size: calc(22px + (30 - 22) * ((100vw - 300px) / (1600 - 300)));
    margin-top: 100px;
    text-shadow:2px 1px 1px rgba(167, 163, 163, 0.692);
    font-weight: bolder;
  }
  
  .row{
    margin-right: 0;
  }
  
  .by{
    color: gray;
  }